<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your security report</h1>
  </div>
  <div class="govuk-grid-column-full">

    <%= govuk_notification_banner(title_text: "Overall score", text: "Your document scored #{@score.round(0)} / 100 for overall compliance with the security ruleset.") %>

    <h2 class="govuk-heading-m">Summary</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          OpenAPI validity:
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @openapi.capitalize %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Issue count:
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @counter %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Time:
        </dt>
        <dd class="govuk-summary-list__value">
          <%= DateTime.now.strftime("%d/%m/%Y %H:%M") %>
        </dd>
      </div>
    </dl>

    <br/><br/>

    <% if @issues.count > 0 %>
    <table class="govuk-table linting-results-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Results</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Criticality</th>
        <th scope="col" class="govuk-table__header">Issue</th>
        <th scope="col" class="govuk-table__header">Line Numbers</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @issues.each do |issue| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell criticality-<%= issue[0] %>"><%= issue[0] %></td>
          <td class="govuk-table__cell"><%= issue[1] %></td>
          <td class="govuk-table__cell"><%= issue[2].join(", ") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>


    <div class="govuk-grid-row no-print">
      <div class="govuk-grid-column-one-third">
        <%= govuk_link_to "Select another ruleset", rulesets_path %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= govuk_link_to "Start again", root_path %>
      </div>
      <div class="govuk-grid-column-one-third">
          <button class="govuk-button" data-module="govuk-button" onclick="window.print();">
            Print or save
          </button>
      </div>
    </div>

    <details class="govuk-details no-print" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with printing or saving
            </span>
          </summary>
          <div class="govuk-details__text">
            The "Print or Save" button uses your web browser's built in print functionality.<br/>
            You can choose to print it out on your printer, and most browsers will also allow you to "Save as PDF".<br/>
            If this does not work for you, try a recent version of Google Chrome and ensure JavaScript is enabled in the settings.<br/>
            <%= govuk_link_to "How to print to PDF from Google Chrome", "https://www.adobe.com/uk/acrobat/resources/chrome-to-pdf.html" %>
          </div>
    </details>

  </div>

</div>
