<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Which ruleset would you like to test your OpenAPI document against?</h1>

    <%= form_tag(rulesets_path, method: :post) do %>
      <div class="govuk-form-group" name="which-linter">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <% Linters::Rulesets::ACTIVE_RULESETS.each do |ruleset_name| %>
              <div class="govuk-radios__item">
                <%= text_field_tag("ruleset_name", ruleset_name, class: "govuk-radios__input", type: "radio", name: "ruleset_name", checked: true) %>
                <%= label_tag("gov-ruleset", t("rulesets.#{ruleset_name}.name"), class: "govuk-label govuk-radios__label", for: "ruleset_name_#{ruleset_name}") %>
                <div class="govuk-hint govuk-radios__hint">
                  <%= t("rulesets.#{ruleset_name}.description") %>
                </div>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>

      <%= submit_tag("Continue", class: "govuk-button", data: { module: "govuk-button" }) %>
    <% end %>

  </div>
</div>
