<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your OpenAPI documents correspond with UK government API linting rules.</h1>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Linting Results</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Code</th>
        <th scope="col" class="govuk-table__header">Line</th>
        <th scope="col" class="govuk-table__header">Character</th>
        <th scope="col" class="govuk-table__header">Problem</th>
        <th scope="col" class="govuk-table__header">Remedy</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @spectral_results.each do |result| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= result['code'] %></th>
          <td class="govuk-table__cell"><%= result['range']['start']['line'] %></td>
          <td class="govuk-table__cell"><%= result['range']['start']['character'] %></td>
          <td class="govuk-table__cell"><%= result['message'] %></td>
          <td class="govuk-table__cell">
            <a href="https://cddo-api-spec-tech-docs.herokuapp.com/api-linting-remediation.html ">Details</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= govuk_link_to "Select Another Linter", root_path %>

  </div>
</div>
