<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your results</h1>
  </div>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Summary</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Filename:
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @filename %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ruleset:
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @ruleset_name %>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Issues</h2>

    <% if @errors.count > 0 %>
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            Your document has errors
          </h2>
          <div class="govuk-error-summary__body">
            <p>
              There are <%= @errors.count %> errors in this document that need fixing.
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <% if @warnings.count > 0 %>
      <%= govuk_notification_banner(
        title_text: "Your document has warnings",
        text: "There are #{@warnings.count} warnings in this document that need fixing.")
      %>
    <% end %>

    <% if @errors.count == 0 and @warnings.count == 0%>
      <div class="govuk-notification-banner govuk-notification-banner--success" data-module="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <div class="govuk-notification-banner__heading">
            Document has passed. No issues require action.
          </div>
            <% if @issues.count > 0 %>
              <p>Issues noted as "information" or "hint" can be addressed to further
              better compliance to standards.</p>
            <% else %>
              <p>Your document is fully compliant with all rules in the chosen ruleset.</p>
            <% end %>
        </div>
      </div>
    <% end %>

    <% if @errors.count > 0 %>
    <table class="govuk-table linting-results-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Errors</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Code</th>
        <th scope="col" class="govuk-table__header">Issue</th>
        <th scope="col" class="govuk-table__header">Line</th>
        <th scope="col" class="govuk-table__header">Character</th>
        <th scope="col" class="govuk-table__header">Remedy</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @errors.each do |issue| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= issue[:code] %></td>
          <td class="govuk-table__cell"><%= issue[:message] %></td>
          <td class="govuk-table__cell"><%= issue[:line] %></td>
          <td class="govuk-table__cell"><%= issue[:character] %></td>
          <td class="govuk-table__cell"><%= link_to_rule "Details", issue[:code] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>

    <% if @warnings.count > 0 %>
    <table class="govuk-table linting-results-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Warnings</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Code</th>
        <th scope="col" class="govuk-table__header">Issue</th>
        <th scope="col" class="govuk-table__header">Line</th>
        <th scope="col" class="govuk-table__header">Character</th>
        <th scope="col" class="govuk-table__header">Remedy</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @warnings.each do |issue| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= issue[:code] %></td>
          <td class="govuk-table__cell"><%= issue[:message] %></td>
          <td class="govuk-table__cell"><%= issue[:line] %></td>
          <td class="govuk-table__cell"><%= issue[:character] %></td>
          <td class="govuk-table__cell"><%= link_to_rule "Details", issue[:code] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>

    <% if @information.count > 0 %>
    <table class="govuk-table linting-results-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Information</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Code</th>
        <th scope="col" class="govuk-table__header">Issue</th>
        <th scope="col" class="govuk-table__header">Line</th>
        <th scope="col" class="govuk-table__header">Character</th>
        <th scope="col" class="govuk-table__header">Remedy</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @information.each do |issue| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= issue[:code] %></td>
          <td class="govuk-table__cell"><%= issue[:message] %></td>
          <td class="govuk-table__cell"><%= issue[:line] %></td>
          <td class="govuk-table__cell"><%= issue[:character] %></td>
          <td class="govuk-table__cell"><%= link_to_rule "Details", issue[:code] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>

    <% if @hints.count > 0 %>
    <table class="govuk-table linting-results-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Hints</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Code</th>
        <th scope="col" class="govuk-table__header">Issue</th>
        <th scope="col" class="govuk-table__header">Line</th>
        <th scope="col" class="govuk-table__header">Character</th>
        <th scope="col" class="govuk-table__header">Remedy</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @hints.each do |issue| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= issue[:code] %></td>
          <td class="govuk-table__cell"><%= issue[:message] %></td>
          <td class="govuk-table__cell"><%= issue[:line] %></td>
          <td class="govuk-table__cell"><%= issue[:character] %></td>
          <td class="govuk-table__cell"><%= link_to_rule "Details", issue[:code] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>


    <div class="govuk-grid-row no-print">
      <div class="govuk-grid-column-one-third">
        <%= govuk_link_to "Select Another Linter", rulesets_path %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= govuk_link_to "Start Again", root_path %>
      </div>
      <div class="govuk-grid-column-one-third">
          <button class="govuk-button" data-module="govuk-button" onclick="window.print();">
            Print or Save
          </button>
      </div>
    </div>

    <details class="govuk-details no-print" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with printing or saving
            </span>
          </summary>
          <div class="govuk-details__text">
            The "Print or Save" button uses your web browser's built in print functionality.<br/>
            You can choose to print it out on your printer, and most browsers will also allow you to "Save as PDF".<br/>
            If this does not work for you, try a recent version of Google Chrome and ensure JavaScript is enabled in the settings.<br/>
            <%= govuk_link_to "How to print to PDF from Google Chrome", "https://www.adobe.com/uk/acrobat/resources/chrome-to-pdf.html" %>
          </div>
    </details>

  </div>

</div>
